* {
    padding: 0;
    margin: 0;
}
.nav-tab {
    list-style: none;
}

.inited #time span {
    visibility: visible;
}
1xt4y.css:1
#time span {
    /* visibility: hidden; */
}
1xt4y.css:1
#time span {
    font-size: 72px;
    line-height: 144px;
    font-family: arial;
}
