* {
    padding: 0;
    margin: 0;
}
.nav-tab {
    list-style: none;
}

.inited #time span {
    visibility: visible;
}
.tomato-nav {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 2.5rem;
}
.tomato-nav > li {
    display: inline-block;
}
.tomato-nav > li:hover {
    color: white;
}

#time span {
    font-size: 72px;
    line-height: 144px;
    font-family: arial;
}
