<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>tomatos</title>
        <link rel="stylesheet" href="/plugins/bootstrap.min.css">
        <script src="plugins/bootstrap.min.js" charset="utf-8"></script>
        <script src="plugins/jquery.min.js" charset="utf-8"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li class="nav-tab tab-task">Task</li>
                    <li class="nav-tab">current</li>
                    <li class="nav-tab">statistics</li>
                    <li class="nav-tab">settings</li>
                    <li class="nav-tab">about</li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="tab-content task">
                <div id="timer" class="">
                    <span id="hh" class="edit" data-original-title="" title="" contenteditable="false">00</span>
                    <span class="sep">:</span>
                    <span id="mm" class="edit" data-original-title="" title="" contenteditable="false">24</span>
                    <span class="sep">:</span>
                    <span id="ss" class="edit" data-original-title="" title="" contenteditable="false">38</span>
                </div>
            </div>
            <div class="tab-content">

            </div>
            <div class="tab-content">

            </div>
            <div class="tab-content">

            </div>
            <div class="tab-content">

            </div>
        </main>
    </body>
</html>
